<div>
    <span class="booknav-prevlink" style="float: left">
        &laquo; <a href="/<%= prevDoc.renderpath %>"><%= prevDoc.title %></a>
    </span>
    <span class="booknav-nextlink" style="float: right">
        <a href="/<%= nextDoc.renderpath %>"><%= nextDoc.title %></a> &raquo;
    </span>
</div>