<div>
    <span style="float: left">&laquo; <a href="/<%= prevDoc.rendername %>"><%= prevDoc.title %></a></span>
    <span style="float: right"><a href="/<%= nextDoc.rendername %>"><%= nextDoc.title %></a> &raquo;</span>
</div>