<div>
    <span class="booknav-prevlink" style="float: left">
        &laquo; <a href="/<%= prevDoc.renderPath %>"><%= prevDoc.docMetadata.title %></a>
    </span>
    <span class="booknav-nextlink" style="float: right">
        <a href="/<%= nextDoc.renderPath %>"><%= nextDoc.docMetadata.title %></a> &raquo;
    </span>
</div>