<div id="booknav-siblings-wrapper">
    <ul><% for (var i in siblings) { %>
        <li>
            <a href="<%= siblings[i].urlForFile %>"><%= siblings[i].frontmatter.title %></a>
        </li>
    <% } %></ul>
</div>