<div>
    <span style="float: left">&laquo; <a href="/<%= prevDoc.renderedFileName %>"><%= prevDoc.frontmatter.yaml.title %></a></span>
    <span style="float: right"><a href="/<%= nextDoc.renderedFileName %>"><%= nextDoc.frontmatter.yaml.title %></a> &raquo;</span>
</div>